*{
    margin:0;
    padding: 0;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
}

.header{
    background-color:hsl(214, 48%, 69%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor:pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 20px;
    color: #121313;
    text-decoration: none;
}

header .nav-links li a:hover{
    color: black;
}

.header .btn button{
    font-weight:  200;
    color: black;
    padding:9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color:aquamarine;
    color: black;
    transform: scale(1.1);
}


.container-menu{
    position: relative;
    top: 10px;
    width: 50%;
    height: 50%;
    background-color: #afafafcc;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.menu{ 
    display: flex inline;
    list-style: none;
    margin: auto;
}

.li-menu{
    padding: 10px;
    border: 1px;  
    margin: 5px;
    text-align: center;
}

.li-menu:hover{
    transform: scale(1.1);
}

.link_menu{
    font-size: 20px;
    font-weight: 15px;
    color: #161616;
    text-decoration: none;
    text-align: center;
}

.link_menu:hover{
    color: black
}



/*imagen grande*/

.imagen-grande{
    display: flex;
    justify-content: center;
}


/*2 imagenes de paquetes */


.paquetes{
    background-color: hsla(214, 48%, 69%, 0.652);
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    border-radius:20;
    border: #8BABD6;
    justify-content: center;
}

.imagenes-paquetes{
    background-color: hsl(241, 23%, 36%);
    margin: 0 auto;
    border-radius: 20px;
}

.titulo-paquetes{
    text-align: center;
    font-size: 2rem;
}

/*acerca de... */

.container{
    padding: .5rem;
    display: flex ;
    gap: 10px;
    justify-content: center;

}
.card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pagos{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
} 

.m-pagos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 30px;
} 

.imagenes-pagos{
    width: 300px;
    border-radius: 10px;
    border: 1px solid  hsl(0, 0%, 1%);
}

/*------paquetes---*/

.card-container{
    display: flex inline;
    flex-wrap: wrap;
    justify-content: center;
}

.card_paquetes{
    width: 325px;
    height: 790px ;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card_paquetes img{
    width: 350px;
    height: 350px;
}
.card-content{
    padding: 20px;
}
.card-content h2{
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
}
.card-content h3{
    text-align: center;
    padding: 5px;
}
.card-content .btn{
    display: inline-block;
    padding: 8px 26px;
    background-color: #161616;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color:#fff;
}

/* ------------adicionales------------------ */

.adicionales{

    text-align: left;
}

.legales{
    padding: 30px;
}

footer{
    padding: 15px;
    margin: auto;
    background-color: hwb(200 64% 35%);
}

.direcciones{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
}

.derechos{
    padding: 15px;
    text-align: center;
}


@media screen and (max-whidth:700){
    
}